:root {
    --accent-color: #1f7de1;
    --bg-color: white;
    --text-color: #222;
    --grey: #6e6e73;
    --code-background-color: #f2f2f2;
    --code-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.25rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a { 
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    margin-right: 1rem;
}

/* Posts.html */

.post-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex; 
    flex-direction: column; 
}

.post-header h1, .post-header p {
    margin: 0;
}

.post-byline {
    font-size: 1rem;
    color: #6e6e73;
}

pre.highlight {
    word-wrap: break-word;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 1.428571429;
    margin: 0 0 10px;
    overflow: auto;
    padding: 12px;
    -o-tab-size: 2;
    tab-size: 2;
    word-break: break-all;
}

.language-plaintext {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 95%;
    padding: 2px 4px;
}

.language-console {
    color: white;
}


.userInput {
    padding: 1rem;
/*    font-family: monospace;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #272822;
    color: #eee;
/*    background-color: #e5e5e5;*/
/*    color: #222;*/
    outline: none;
    border: none;
    width: 85%;
}

.checkBtn {
    margin-top: 1rem;
    margin-bottom: -2rem;
    width: 64px;
    height: 64px;
    border: none;
    display: block;
    opacity: 0.5;
    background: url("/assets/images/next.svg") no-repeat;
}

.checkBtn:hover {
    opacity: 1;
    cursor: pointer;
}


footer {
    font-size: 80%;
    position: fixed;
    bottom: 0;
    max-width: 650px; 
    padding: 1rem;
    color: var(--grey);
}

/* Responsive Design */


/* Elements */

blockquote {
    border-left: 2px solid #8b8b8b;
    padding-left: 1rem;
}

/* iphone regular (no pro max) size */
@media (max-width: 400px) {
    nav {
        width: 100%;
        margin: 0 auto;
        justify-content: flex-end;
        /* position: fixed; */
        /* background-color: var(--bg-color); */
        /* margin-bottom: 200px; */
        /* align-items: center; */
        /* flex-wrap: wrap; */
    }
}

/* Larger than phablet */
@media (min-width: 650px) {

.container {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.5;
    max-width: 50%;
}

.userInput {
    width: 95%;
}

}

/* Larger than desktop */
@media (min-width: 1024px) {

    .container {
        max-width: 45%;
    }

    footer {
        max-width: 90%;
/*        background-color: aliceblue;*/
    }
}