:root {
    --accent-color: #1f7de1;
    --bg-color: white;
    --text-color: #222;
    --grey: #6e6e73;
    --code-background-color: #f2f2f2;
    --code-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 97vh;
    line-height: 1.5;
}

.container {
    width: 100%;
    padding: 1rem; /* 1rem = 16px */
    margin-top: 0rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

a { 
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

nav h1 {
    font-size: 2.8rem;
}

nav a {
    margin-right: 1rem;
    color: var(--accent-color);
}

nav a:last-child {
    margin-right: 0;
}

/* Posts.html */

.post-title {
    font-size: 2.4rem;
}

.post-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex; 
    flex-direction: column; 
}

.post-header h1, .post-header p {
    margin: 0;
}

.post-byline {
    font-size: 1rem;
    color: var(--grey);
}

.post-content p {
    margin-bottom: 1rem;
}

.post-content ul {
    padding: 0rem 1.5rem;
    margin-bottom: 1rem;
}

pre.highlight {
    word-wrap: break-word;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 1.428571429;
    margin: 0 0 10px;
    overflow: auto;
    padding: 12px;
    -o-tab-size: 2;
    tab-size: 2;
    word-break: break-all;
}

.language-plaintext {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 95%;
    padding: 2px 4px;
}

.language-console {
    color: white;
}


.userInput {
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #272822;
    color: #eee;
    outline: none;
    border: none;
    width: 85%;
    font-size: 95%;
}

.checkBtn {
    margin-top: 1rem;
    margin-bottom: -2rem;
    width: 64px;
    height: 64px;
    border: none;
    display: block;
    opacity: 0.5;
    background: url("/assets/images/next.svg") no-repeat;
}

.checkBtn:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    font-size: 80%;
    position: fixed;
    bottom: 0;
    max-width: 650px; 
    padding: 1rem;
    color: var(--grey);
}

/* Responsive Design */


/* Elements */

blockquote {
    border-left: 2px solid #8b8b8b;
    padding-left: 1rem;
}

/* Media Queries */

@media (min-width: 550px) {
    .container {
        width: 550px;
    }

    nav {
        justify-content: space-around;
    }
}