.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.cards-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Optional: To match the body background color */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-container {
    width: 100%;
    height: 200px; /* Adjust as needed */
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top; /* Adjusts the image to start from the top */
}

.card-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card-description {
    font-size: 1em;
    color: #666;
    margin: 0;
}
