<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="https://pablocortez.github.io/favicon.ico">
    <link rel="stylesheet" href="/assets/css/cspablocortez.css">
</head>
<body>

    <nav>
        <h1 id="site-title"><a href="/">{{site.title}}</a></h1>
        <!-- If current URL isn't home page, I should be able to get rid of the large title -->
    </nav>

    <main>
        {{ content }}
    </main>


</body>
</html>