---
layout: default
title: Gallery
---

<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <a href="#" class="card">
      <div class="card-img-container">
          <img src="/assets/images/company-assembled.jpg" alt="Image" class="card-img">
      </div>
      <div class="card-content">
          <h2 class="card-title">Card Title</h2>
          <p class="card-description">This is a description of the card. It provides brief information about the content of the card.</p>
      </div>
    </a>
  
    <div class="post-content">
      {{ content }}
    </div>
  
</article>