---
layout: default
---

<section>
  {{ content }}
  <div class="post">
    <h1><a href="/library">Library</a></h1>
    <p>Like how people display their books. A library.</p>
  </div>
</section>

<div class="two-columns">
  <div class="column">
    <section>
      <h1>Recent</h1>
      {% for post in site.posts limit:3 %}
      {% unless post.hidden %}
        <div class="post">
          <h1><a href="{{post.url}}">{{ post.title }}</a></h1>
          <p>{{ post.date | date: "%Y-%m-%d" }}</p>
        </div>
      {% endunless %}
      {% endfor %}
    </section>
    
    <section>
      <h1>Bookmarks</h1>
       {% for bookmark in site.data.bookmarks %}
        <div class="post">
          <h1><a href="{{bookmark.url}}" target="_blank">{{ bookmark.title }}</a></h1>
          <p>{{ bookmark.description }}</p>
        </div>
       {% endfor %}
    </section>

   </div>

   <div class="column">
     
     <section>
        <h1>Around the web</h1>
           {% assign reversed_quotebacks = site.data.quotebacks | reverse %}
           {% for quoteback in reversed_quotebacks %}
           <div class="post quoteback">
             <p id="qb-byline"><strong>{{ quoteback.author}}</strong> via <a href="{{quoteback.url}}" target="_blank">{{ quoteback.source }}</a></p>
             <blockquote>
               <p>{{ quoteback.text }}</p>
             </blockquote>
            
           </div>
          {% endfor %}
     </section>
    
   </div>

</div>  