---
layout: default
---

<section>
  {{ content }}
</section>


<div class="two-columns">

  <div class="column">
    <h1>Recent</h1>

    {% for post in site.posts %}
    {% unless post.hidden %}

    <div class="post">
      <h1><a href="{{post.url}}">{{ post.title }}</a></h1>
      <p>{{ post.date | date: "%Y-%m-%d" }}</p>
    </div>

    {% endunless %}
    {% endfor %}

   </div>

   <div class="column">
     <h1>Bookmarks</h1>
     {% for bookmark in site.data.bookmarks %}
      <div class="post">
        <h1><a href="{{bookmark.url}}">{{ bookmark.title }}</a></h1>
        <p>{{ bookmark.description }}</p>
      </div>
     {% endfor %}
   </div>

</div>  