---
layout: default
permalink: /ovid
---

<div class="landing-page">
  <div>
    <img src="/assets/images/ovid-logo.png" alt="Ovid Writer App Logo">
  </div>
  <div>
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</div>

<div class="two-columns">
  <div class="column">
    <section>
      <h1 style="font-size: 3rem;">Available Everywhere, All the Time</h1>
  
      <p>Ideas strike when you least expect them. Record it all
      with the plaintext editor a tab away. Available on all devices.</p>
  
      <h2 style="font-size: 2.4rem; margin-top: 4rem">Features</h2>
  
      <ul>
        <li>Autosave</li>
        <li>Font selection (serif, sans-serif, monospace)</li>
        <li>Light / Dark theme</li>
        <li>Customizable Margins</li>
        <li>Word Count, Date and Time toolbar</li>
        <li>Progressive Web App</li>
        <li>Free and Open Source</li>
      </ul>
    </section>
  </div>
  <div class="column">
    <section>
      <img src="/assets/images/ovid-mobile.PNG" alt="Ovid Writer Mobile View">
    </section>
  </div>
</div>

<section>
  {{ content }}
</section>


