---
layout: default
permalink: /ovid
---

<div class="landing-page">
  <div>
    <img src="/assets/images/ovid-logo.png" alt="Ovid Writer App Logo">
  </div>
  <div>
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</div>

<div class="two-columns">
  <div class="column">
    <section>
      <h1 style="font-size: 3rem;">Available Everywhere, All the Time</h1>
  
      <p>Ideas strike when you least expect them. Record them all
      with the plaintext editor a tab away. Available on all devices.</p>
  
      <h2 style="font-size: 2.4rem; margin-top: 4rem">Features</h2>
  
      <ul>
        <li>Autosave</li>
        <li>Font selection (serif, sans-serif, monospace)</li>
        <li>Light / Dark theme</li>
        <li>Customizable Margins</li>
        <li>Word Count, Date and Time toolbar</li>
        <li>Progressive Web App</li>
        <li>Free and Open Source</li>
      </ul>
    </section>
  </div>
  <div class="column">
    <section id="ovid-mobile-image">
      <img src="/assets/images/ovid-mobile.PNG" alt="Ovid Writer Mobile View">
    </section>
  </div>
</div>

<div class="two-columns">
  <div class="column">
    <img src="/assets/images/ovid-desktop.png" alt="Ovid Writer Desktop View">
  </div>
  <div class="column">
    <h2 style="font-size: 2.4rem; margin-top: 4rem">On the Desktop</h2>
    <p>You can install Ovid as an app on your dock. Simply select "Add to dock" or "Install App" from your favorite
      web browser's options menu.</p>
  </div>
</div>

<div class="two-columns">
  <div class="column">
    <h2 style="font-size: 2.4rem; margin-top: 4rem">Your Tools, Your Rules</h2>
    <p>Ovid leverages your operating system's word 
    processing capabilities. 
    Spelling and text editing preferences are set according to 
    your device's language and keyboard configurations. With Ovid, your writing is right at home.</p>
  </div>
  <div class="column"><img src="/assets/images/add-to-dock.png" alt="Add to Dock Reference Image"></div>
</div>

<section style="font-size: 2rem; color: var(--secondary-color);">
  <p>You can integrate Ovid with Vivaldi as a side panel app, that way you can take notes on any website.</p>
</section>

<div class="two-columns">
  <div class="column"><img src="/assets/images/ovid-vivaldi.png" alt="Add to Dock Reference Image"></div>
</div>

<div class="two-columns" style="text-align: center;">
  <div class="column">
    <h2 style="font-size: 2.4rem; margin-top: 4rem">The privacy and security of Open Source</h2>
    <p>Learn more about Ovid and access the <a href="https://cspablocortez.github.io/OvidWriter" target="_blank">source code</a> on Github.</p>
  </div>
</div>

<section>
  <a id="ovid-cta" href="https://cspablocortez.github.io/OvidWriter" target="_blank">Start Writing</a>
</section>


